{% extends 'base.html' %}
{% block content %}
  {%block title %}
    <br />
    <h2 style="text-align: center;">
      <img src="{{ url_for('static', filename='img/logo.png') }}">
    </h2><br />
    <hr />
    <h5 style="text-align: center;">{{ timestamp }}</h5>
    <hr />
  {% endblock %}
  <div class="container">
    <div class="container-fluid">
      <!-- influencers -->
      <div class="card">
        <div class="card-header text-white bg-info">
          {% for list in lists %}
          {% if list[2] == 'influencers' %}
          <span style="color: honeydew;">(Id)</span>
          <b><em>{{ list[2] | upper }}</em></b>&emsp;
          <img src="{{ url_for('static', filename='img/at-sign.svg') }}">
          {% endif %}
          {% endfor %}
        </div>
        <div class="card-body text-white bg-dark">
          {% for item in items %}
          {% if item[2] == 1 %}
          <span style="color: honeydew;">{{ "(%s)" % item[0] }}</span>
          <b>{{ "%s, " % item[3] }}</b>
          {% endif %}
          {% endfor %}
        </div>
      </div><br />
      <!-- hashtags -->
      <div class="card">
        <div class="card-header text-white bg-info">
          {% for list in lists %}
          {% if list[2] == 'hashtags' %}
          <span style="color: honeydew;">(Id)</span>
          <b><em>{{ list[2] | upper }}</em></b>&emsp;
          <img src="{{ url_for('static', filename='img/hash.svg') }}">
          {% endif %}
          {% endfor %}
        </div>
        <div class="card-body text-white bg-dark">
          {% for item in items %}
          {% if item[2] == 2 %}
          <span style="color:honeydew;">{{ "(%s)" % item[0] }}</span>
          <b>{{ "%s, " % item[3] }}</b>
          {% endif %}
          {% endfor %}
        </div>
      </div><br />
      <!-- location -->
      <div class="card">
        <div class="card-header text-white bg-info">
          {% for list in lists %}
          {% if list[2] == 'locations' %}
          <span style="color: honeydew;">(Id)</span>
          <b><em>{{ list[2] | upper }}</em></b>&emsp;
          <img src="{{ url_for('static', filename='img/map-pin.svg') }}">
          {% endif %}
          {% endfor %}
        </div>
        <div class="card-body text-white bg-dark">
          {% for item in items %}
          {% if item[2] == 3 %}
          <span style="color: honeydew;">{{ "(%s)" % item[0] }}</span>
          <b>{{ "%s, " % item[3] }}</b>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}