{% extends 'base.html' %}
{% block content %}
  {%block title %}
    <br />
    <h2 style="text-align: center;">
      <img src="{{ url_for('static', filename='img/logo.png') }}">
    </h2><br />
    <hr />
    <h5 style="text-align: center;">{{ timestamp }}</h5>
    <hr />
  {% endblock %}
  <div class="container">
    <!-- influencers -->
    <div class="card">
      <div class="card-header text-white bg-info">
        {% for list in lists %}
          {% if list[2] == 'influencers' %}
            <img src="{{ url_for('static', filename='img/at-sign.svg') }}">&ensp;
            <b><em>{{ list[2] | upper }}</em></b>
          {% endif %}
        {% endfor %}
      </div>
      <div class="card-body text-white bg-dark">
        {% for item in items %}
          {% if item[2] == 1 %}
            <b>{{ "[%d, %s], " % (item[0], item[3]) }}</b>
          {% endif %}
        {% endfor %}
      </div>
    </div><br />
    <!-- hashtags -->
    <div class="card">
      <div class="card-header text-white bg-info">
        {% for list in lists %}
          {% if list[2] == 'hashtags' %}
            <img src="{{ url_for('static', filename='img/hash.svg') }}">&ensp;
            <b><em>{{ list[2] | upper }}</em></b>
          {% endif %}
        {% endfor %}
      </div>
      <div class="card-body text-white bg-dark">
        {% for item in items %}
          {% if item[2] == 2 %}
            <b>{{ "[%d, %s], " % (item[0], item[3]) }}</b>
          {% endif %}
        {% endfor %}
      </div>
    </div><br />
    <!-- location -->
    <div class="card">
      <div class="card-header text-white bg-info">
        {% for list in lists %}
          {% if list[2] == 'locations' %}
            <img src="{{ url_for('static', filename='img/map-pin.svg') }}">&ensp;
            <b><em>{{ list[2] | upper }}</em></b>
          {% endif %}
        {% endfor %}
      </div>
      <div class="card-body text-white bg-dark">
        {% for item in items %}
          {% if item[2] == 3 %}
            <b>{{ "[%d, %s], " % (item[0], item[3]) }}</b>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}